<!--Styles-->
<link rel="stylesheet" href="/css/user_info.css" />
  <script src="userinfo.js"></script>
  <main class="profile-container">
    <aside class="sidebar"></aside>

    <section class="profile-form-section">
      <form class="profile-form">
        <label for="name">Name</label>
        <input type="text" id="name" />

        <label for="email">Email</label>
        <input type="email" id="email" />

        <label for="age">Age</label>
        <input type="number" id="age" />

        <label for="password">Password</label>
        <input type="password" id="password" />

        <button type="submit">Save Changes</button>
      </form>
      <form action="/api/auth/logout", method="POST">
        <button type="submit">logout</button>
      </form>
    </section>
  </main>