.nav {
  background-color: var(--cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--olive);
}

.nav-logo a{
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--olive);
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  position: relative; /* required for underline */
  font-weight: normal;
  text-decoration: none;
  color: var(--olive);
  transition: color 0.3s ease;
}

/* Add animated underline */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: var(--olive);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: var(--olive);
}

.nav-links a:hover::after {
  color: var(--olive);
  width: 100%;
}
