body{
  color: var(--olive);
}
.history-list {
  padding: 20px;
  background-color: var(--cream);
  border-radius: 8px;
  height:100vh;
}

.history-list h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.history-list ul {
  list-style-type: none;
  padding: 0;
}

.history-item {
  background-color: var(--cream);
  border: 1px solid var(--olive);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details {
  flex-grow: 1;
}

.product-details h3 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.product-details p {
  font-size: 14px;
}

.view-link {
  font-size: 14px;
  text-decoration: none;
}

.view-link:hover {
  text-decoration: underline;
}
