body {
  background-color: var(--dark-background); /* dark olive */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: var(--olive);
}

.container {
  background: var(--cream); /* cream */
  padding: 40px;
  border-radius: 12px;
  width: 420px;
  text-align: center;
}

.container h2 {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
  color: var(--olive);
}

form input,
form select {
  width: 100%;
  padding: 12px;
  margin: px 0 6px;
  background: rgb(228, 213, 184);
  border-radius: 6px;
  font-size: 16px;
  border: none;
  outline: none;
}

input::placeholder {
  color: #46352d;
}

.gender-group {
  text-align: left;
  margin-top: 16px;
}

.gender-group label {
  font-size: 15px;
  margin-bottom: 6px;
  color: var(--subtle-text);
}

.gender-group select {
  background: var(--input-bg);
  color: var(--text-color);
  outline: none;
  border: none;
}

span {
  font-size: 14px;
  color: var(--error-color);
  display: block;
  text-align: left;
  margin-bottom: 4px;
  min-height: 18px;
}

.btn {
  width: 100%;
  padding: 14px;
  background: var(--olive); /* olive */
  border: none;
  border-radius: 6px;
  color: var(--cream);
  font-size: 17px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  outline: none;
}

.btn:hover {
  background: var(--dark-background); /* lighter olive */
}

.google-btn {
  background: var(--olive); 
  color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding: 12px;
  margin-top: 16px;
  border-radius: 6px;
  outline: none;
  border: none;
}

.google-btn img {
  width: 24px;
  height: 24px;
}

.login-link {
  margin-top: 24px;
  font-size: 15px;
}

.login-link a {
  color: var(--olive);
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
