body {
  background-color: var(--cream);
  color: var(--olive);
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.checkbox-group label {
  font-weight: normal;
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}

h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Layout */
.profile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Sidebar scrolls with content */
.sidebar {
  width: 140px;
  background-color: var(--olive);
  padding: 20px 0;
}

/* Profile Section */
.profile-form-section {
  flex-grow: 1;
  padding: 30px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.profile-form label {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.profile-form input,
.profile-form select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #e5dcdc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background-color: var(--olive);
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  width: fit-content;
}

button:hover {
  background-color: var(--dark-background);
  opacity: 0.9;
}

/* Optional: space out logout button */
.profile-form + .profile-form {
  margin-top: 1rem;
}
