<footer class="footer">
  <div class="footer-brand">
    <span class="logo">Foodalyze</span>
    <p>Foodalyze helps you decode food packets and make informed health choices
      based on your age, health, and lifestyle.</p>

    <div class="social">
      <a href="#"><img src="/images/twitter.jpg" alt="Twitter" /></a>
      <a href="#"><img src="/images/facebook.jpg" alt="Facebook" /></a>
      <a href="#"><img src="/images/insta.png" alt="Instagram" /></a>
      <a href="#"><img src="/images/github.png" alt="GitHub" /></a>
    </div>
  </div>

  <div class="footer-links">
    <h4>Quick Links</h4>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Know us &amp; Connect</a></li>
      <li><a href="#">Scan Product</a></li>
      <li><a href="#">Upload Product</a></li>
      <li><a href="#">FAQs</a></li>
    </ul>
  </div>

  <div class="footer-ig">
    <h4>Follow Us On Instagram</h4>
    <div class="ig-grid">
      <img src="/images/fooda.jpg" alt="" />
      <img src="/images/foodb.jpg" alt="" />
      <img src="/images/foodc.jpg" alt="" />
      <img src="/images/foodd.jpg" alt="" />
    </div>
  </div>
</footer>