<nav class="nav">
  <span class="nav-logo"><a href="/dashboard">Foodalyze</a></span>
  <ul class="nav-links">
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/user-info">Profile</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/connect">Know us &amp; Connect</a></li>
  </ul>
</nav>