<nav class="nav">
  <span class="nav-logo">Foodalyze</span>
  <ul class="nav-links">
    <li><a href="/user-info">My Profile</a></li>
    <li><a href="/product-upload">Upload Product</a></li>
    <li><a href="/connect">Know us &amp; Connect</a></li>
  </ul>
</nav>