<nav class="nav">
  <span class="nav-logo">Foodalyze</span>
  <ul class="nav-links">
    <li><a href="#">My Profile</a></li>
    <li><a href="#">Upload Product</a></li>
    <li><a href="#">Know us &amp; Connect</a></li>
  </ul>
</nav>